.swagger-section pre code {
	display: block;
	padding: .5em;
	background: #f0f0f0
}

.swagger-section pre .clojure .built_in, .swagger-section pre .lisp .title,
	.swagger-section pre .nginx .title, .swagger-section pre .subst,
	.swagger-section pre .tag .title, .swagger-section pre code {
	color: #000
}

.swagger-section pre .addition, .swagger-section pre .aggregate,
	.swagger-section pre .apache .cbracket, .swagger-section pre .apache .tag,
	.swagger-section pre .bash .variable, .swagger-section pre .constant,
	.swagger-section pre .django .variable, .swagger-section pre .erlang_repl .function_or_atom,
	.swagger-section pre .flow, .swagger-section pre .markdown .header,
	.swagger-section pre .parent, .swagger-section pre .preprocessor,
	.swagger-section pre .ruby .symbol, .swagger-section pre .ruby .symbol .string,
	.swagger-section pre .rules .value, .swagger-section pre .rules .value .number,
	.swagger-section pre .smalltalk .class, .swagger-section pre .stream,
	.swagger-section pre .string, .swagger-section pre .tag .value,
	.swagger-section pre .template_tag, .swagger-section pre .tex .command,
	.swagger-section pre .tex .special, .swagger-section pre .title {
	color: #800
}

.swagger-section pre .annotation, .swagger-section pre .chunk,
	.swagger-section pre .comment, .swagger-section pre .diff .header,
	.swagger-section pre .markdown .blockquote, .swagger-section pre .template_comment
	{
	color: #888
}

.swagger-section pre .change, .swagger-section pre .date,
	.swagger-section pre .go .constant, .swagger-section pre .literal,
	.swagger-section pre .markdown .bullet, .swagger-section pre .markdown .link_url,
	.swagger-section pre .number, .swagger-section pre .regexp,
	.swagger-section pre .smalltalk .char, .swagger-section pre .smalltalk .symbol
	{
	color: #080
}

.swagger-section pre .apache .sqbracket, .swagger-section pre .array,
	.swagger-section pre .attr_selector, .swagger-section pre .clojure .attribute,
	.swagger-section pre .coffeescript .property, .swagger-section pre .decorator,
	.swagger-section pre .deletion, .swagger-section pre .doctype,
	.swagger-section pre .envvar, .swagger-section pre .erlang_repl .reserved,
	.swagger-section pre .filter .argument, .swagger-section pre .important,
	.swagger-section pre .javadoc, .swagger-section pre .label,
	.swagger-section pre .localvars, .swagger-section pre .markdown .link_label,
	.swagger-section pre .nginx .built_in, .swagger-section pre .pi,
	.swagger-section pre .prompt, .swagger-section pre .pseudo,
	.swagger-section pre .ruby .string, .swagger-section pre .shebang,
	.swagger-section pre .tex .formula, .swagger-section pre .vhdl .attribute
	{
	color: #88f
}

.swagger-section pre .aggregate, .swagger-section pre .apache .tag,
	.swagger-section pre .bash .variable, .swagger-section pre .built_in,
	.swagger-section pre .css .tag, .swagger-section pre .go .typename,
	.swagger-section pre .id, .swagger-section pre .javadoctag,
	.swagger-section pre .keyword, .swagger-section pre .markdown .strong,
	.swagger-section pre .phpdoc, .swagger-section pre .request,
	.swagger-section pre .smalltalk .class, .swagger-section pre .status,
	.swagger-section pre .tex .command, .swagger-section pre .title,
	.swagger-section pre .winutils, .swagger-section pre .yardoctag {
	font-weight: 700
}

.swagger-section pre .markdown .emphasis {
	font-style: italic
}

.swagger-section pre .nginx .built_in {
	font-weight: 400
}

.swagger-section pre .coffeescript .javascript, .swagger-section pre .javascript .xml,
	.swagger-section pre .tex .formula, .swagger-section pre .xml .cdata,
	.swagger-section pre .xml .css, .swagger-section pre .xml .javascript,
	.swagger-section pre .xml .vbscript {
	opacity: .5
}

.swagger-section .hljs {
	display: block;
	overflow-x: auto;
	padding: .5em;
	background: #f0f0f0
}

.swagger-section .hljs, .swagger-section .hljs-subst {
	color: #444
}

.swagger-section .hljs-attribute, .swagger-section .hljs-doctag,
	.swagger-section .hljs-keyword, .swagger-section .hljs-meta-keyword,
	.swagger-section .hljs-name, .swagger-section .hljs-selector-tag {
	font-weight: 700
}

.swagger-section .hljs-addition, .swagger-section .hljs-built_in,
	.swagger-section .hljs-bullet, .swagger-section .hljs-code,
	.swagger-section .hljs-literal {
	color: #1f811f
}

.swagger-section .hljs-link, .swagger-section .hljs-regexp,
	.swagger-section .hljs-selector-attr, .swagger-section .hljs-selector-pseudo,
	.swagger-section .hljs-symbol, .swagger-section .hljs-template-variable,
	.swagger-section .hljs-variable {
	color: #bc6060
}

.swagger-section .hljs-deletion, .swagger-section .hljs-number,
	.swagger-section .hljs-quote, .swagger-section .hljs-selector-class,
	.swagger-section .hljs-selector-id, .swagger-section .hljs-string,
	.swagger-section .hljs-template-tag, .swagger-section .hljs-type {
	color: #800
}

.swagger-section .hljs-section, .swagger-section .hljs-title {
	color: #800;
	font-weight: 700
}

.swagger-section .hljs-comment {
	color: #888
}

.swagger-section .hljs-meta {
	color: #2b6ea1
}

.swagger-section .hljs-emphasis {
	font-style: italic
}

.swagger-section .hljs-strong {
	font-weight: 700
}

.swagger-section .swagger-ui-wrap {
	line-height: 1;
	font-family: Droid Sans, sans-serif;
	min-width: 760px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto
}

.swagger-section .swagger-ui-wrap b, .swagger-section .swagger-ui-wrap strong
	{
	font-family: Droid Sans, sans-serif;
	font-weight: 700
}

.swagger-section .swagger-ui-wrap blockquote, .swagger-section .swagger-ui-wrap q
	{
	quotes: none
}

.swagger-section .swagger-ui-wrap p {
	line-height: 1.4em;
	padding: 0 0 10px;
	color: #333
}

.swagger-section .swagger-ui-wrap blockquote:after, .swagger-section .swagger-ui-wrap blockquote:before,
	.swagger-section .swagger-ui-wrap q:after, .swagger-section .swagger-ui-wrap q:before
	{
	content: none
}

.swagger-section .swagger-ui-wrap .heading_with_menu h1,
	.swagger-section .swagger-ui-wrap .heading_with_menu h2,
	.swagger-section .swagger-ui-wrap .heading_with_menu h3,
	.swagger-section .swagger-ui-wrap .heading_with_menu h4,
	.swagger-section .swagger-ui-wrap .heading_with_menu h5,
	.swagger-section .swagger-ui-wrap .heading_with_menu h6 {
	display: block;
	clear: none;
	float: left;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 60%
}

.swagger-section .swagger-ui-wrap table {
	border-collapse: collapse;
	border-spacing: 0
}

.swagger-section .swagger-ui-wrap table thead tr th {
	padding: 5px;
	font-size: .9em;
	color: #666;
	border-bottom: 1px solid #999
}

.swagger-section .swagger-ui-wrap table tbody tr:last-child td {
	border-bottom: none
}

.swagger-section .swagger-ui-wrap table tbody tr.offset {
	background-color: #f0f0f0
}

.swagger-section .swagger-ui-wrap table tbody tr td {
	padding: 6px;
	font-size: .9em;
	border-bottom: 1px solid #ccc;
	vertical-align: top;
	line-height: 1.3em
}

.swagger-section .swagger-ui-wrap ol {
	margin: 0 0 10px;
	padding: 0 0 0 18px;
	list-style-type: decimal
}

.swagger-section .swagger-ui-wrap ol li {
	padding: 5px 0;
	font-size: .9em;
	color: #333
}

.swagger-section .swagger-ui-wrap ol, .swagger-section .swagger-ui-wrap ul
	{
	list-style: none
}

.swagger-section .swagger-ui-wrap h1 a, .swagger-section .swagger-ui-wrap h2 a,
	.swagger-section .swagger-ui-wrap h3 a, .swagger-section .swagger-ui-wrap h4 a,
	.swagger-section .swagger-ui-wrap h5 a, .swagger-section .swagger-ui-wrap h6 a
	{
	text-decoration: none
}

.swagger-section .swagger-ui-wrap h1 a:hover, .swagger-section .swagger-ui-wrap h2 a:hover,
	.swagger-section .swagger-ui-wrap h3 a:hover, .swagger-section .swagger-ui-wrap h4 a:hover,
	.swagger-section .swagger-ui-wrap h5 a:hover, .swagger-section .swagger-ui-wrap h6 a:hover
	{
	text-decoration: underline
}

.swagger-section .swagger-ui-wrap h1 span.divider, .swagger-section .swagger-ui-wrap h2 span.divider,
	.swagger-section .swagger-ui-wrap h3 span.divider, .swagger-section .swagger-ui-wrap h4 span.divider,
	.swagger-section .swagger-ui-wrap h5 span.divider, .swagger-section .swagger-ui-wrap h6 span.divider
	{
	color: #aaa
}

.swagger-section .swagger-ui-wrap a {
	color: #547f00
}

.swagger-section .swagger-ui-wrap a img {
	border: none
}

.swagger-section .swagger-ui-wrap article, .swagger-section .swagger-ui-wrap aside,
	.swagger-section .swagger-ui-wrap details, .swagger-section .swagger-ui-wrap figcaption,
	.swagger-section .swagger-ui-wrap figure, .swagger-section .swagger-ui-wrap footer,
	.swagger-section .swagger-ui-wrap header, .swagger-section .swagger-ui-wrap hgroup,
	.swagger-section .swagger-ui-wrap menu, .swagger-section .swagger-ui-wrap nav,
	.swagger-section .swagger-ui-wrap section, .swagger-section .swagger-ui-wrap summary
	{
	display: block
}

.swagger-section .swagger-ui-wrap pre {
	font-family: Anonymous Pro, Menlo, Consolas, Bitstream Vera Sans Mono,
		Courier New, monospace;
	background-color: #fcf6db;
	border: 1px solid #e5e0c6;
	padding: 10px
}

.swagger-section .swagger-ui-wrap pre code {
	line-height: 1.6em;
	background: none
}

.swagger-section .swagger-ui-wrap .content>.content-type>div>label {
	clear: both;
	display: block;
	color: #0f6ab4;
	font-size: 1.1em;
	margin: 0;
	padding: 15px 0 5px
}

.swagger-section .swagger-ui-wrap .content pre {
	font-size: 12px;
	margin-top: 5px;
	padding: 5px
}

.swagger-section .swagger-ui-wrap .icon-btn {
	cursor: pointer
}

.swagger-section .swagger-ui-wrap .info_title {
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 25px
}

.swagger-section .swagger-ui-wrap .footer {
	margin-top: 20px;
}

.footer {
	margin-bottom: 40px
}

.swagger-section .swagger-ui-wrap div.big p, .swagger-section .swagger-ui-wrap p.big
	{
	font-size: 1em;
	margin-bottom: 10px
}

.swagger-section .swagger-ui-wrap form.fullwidth ol li.numeric input,
	.swagger-section .swagger-ui-wrap form.fullwidth ol li.string input,
	.swagger-section .swagger-ui-wrap form.fullwidth ol li.text textarea,
	.swagger-section .swagger-ui-wrap form.fullwidth ol li.url input {
	width: 500px !important
}

.swagger-section .swagger-ui-wrap .info_license, .swagger-section .swagger-ui-wrap .info_tos
	{
	padding-bottom: 5px
}

.swagger-section .swagger-ui-wrap .message-fail {
	color: #c00
}

.swagger-section .swagger-ui-wrap .info_email, .swagger-section .swagger-ui-wrap .info_name,
	.swagger-section .swagger-ui-wrap .info_url {
	padding-bottom: 5px
}

.swagger-section .swagger-ui-wrap .info_description {
	padding-bottom: 10px;
	font-size: 15px
}

.swagger-section .swagger-ui-wrap .markdown ol li, .swagger-section .swagger-ui-wrap .markdown ul li
	{
	padding: 3px 0;
	line-height: 1.4em;
	color: #333
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.numeric input,
	.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.string input,
	.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.url input
	{
	display: block;
	padding: 4px;
	width: auto;
	clear: both
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.numeric input.title,
	.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.string input.title,
	.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.url input.title
	{
	font-size: 1.3em
}

.swagger-section .swagger-ui-wrap table.fullwidth {
	width: 100%
}

.swagger-section .swagger-ui-wrap .model-signature {
	font-family: Droid Sans, sans-serif;
	font-size: 1em;
	line-height: 1.5em
}

.swagger-section .swagger-ui-wrap .model-signature .signature-nav a {
	text-decoration: none;
	color: #aaa
}

.swagger-section .swagger-ui-wrap .model-signature .signature-nav a:hover
	{
	text-decoration: underline;
	color: #000
}

.swagger-section .swagger-ui-wrap .model-signature .signature-nav .selected
	{
	color: #000;
	text-decoration: none
}

.swagger-section .swagger-ui-wrap .model-signature .propType {
	color: #55a
}

.swagger-section .swagger-ui-wrap .model-signature pre:hover {
	background-color: #ffd
}

.swagger-section .swagger-ui-wrap .model-signature pre {
	font-size: .85em;
	line-height: 1.2em;
	overflow: auto;
	max-height: 200px;
	cursor: pointer
}

.swagger-section .swagger-ui-wrap .model-signature ul.signature-nav {
	display: block;
	min-width: 230px;
	margin: 0;
	padding: 0
}

.swagger-section .swagger-ui-wrap .model-signature ul.signature-nav li:last-child
	{
	padding-right: 0;
	border-right: none
}

.swagger-section .swagger-ui-wrap .model-signature ul.signature-nav li {
	float: left;
	margin: 0 5px 5px 0;
	padding: 2px 5px 2px 0;
	border-right: 1px solid #ddd
}

.swagger-section .swagger-ui-wrap .model-signature .propOpt {
	color: #555
}

.swagger-section .swagger-ui-wrap .model-signature .snippet small {
	font-size: .75em
}

.swagger-section .swagger-ui-wrap .model-signature .propOptKey {
	font-style: italic
}

.swagger-section .swagger-ui-wrap .model-signature .description .strong
	{
	font-weight: 700;
	color: #000;
	font-size: .9em
}

.swagger-section .swagger-ui-wrap .model-signature .description div {
	font-size: .9em;
	line-height: 1.5em;
	margin-left: 1em
}

.swagger-section .swagger-ui-wrap .model-signature .description .stronger
	{
	font-weight: 700;
	color: #000
}

.swagger-section .swagger-ui-wrap .model-signature .description .propWrap .optionsWrapper
	{
	border-spacing: 0;
	position: absolute;
	background-color: #fff;
	border: 1px solid #bbb;
	display: none;
	font-size: 11px;
	max-width: 400px;
	line-height: 30px;
	color: #000;
	padding: 5px;
	margin-left: 10px
}

.swagger-section .swagger-ui-wrap .model-signature .description .propWrap .optionsWrapper th
	{
	text-align: center;
	background-color: #eee;
	border: 1px solid #bbb;
	font-size: 11px;
	color: #666;
	font-weight: 700;
	padding: 5px;
	line-height: 15px
}

.swagger-section .swagger-ui-wrap .model-signature .description .propWrap .optionsWrapper .optionName
	{
	font-weight: 700
}

.swagger-section .swagger-ui-wrap .model-signature .description .propDesc.markdown>p:first-child,
	.swagger-section .swagger-ui-wrap .model-signature .description .propDesc.markdown>p:last-child
	{
	display: inline
}

.swagger-section .swagger-ui-wrap .model-signature .description .propDesc.markdown>p:not
	(:first-child ):before {
	display: block;
	content: ''
}

.swagger-section .swagger-ui-wrap .model-signature .description span:last-of-type.propDesc.markdown>p:only-child
	{
	margin-right: -3px
}

.swagger-section .swagger-ui-wrap .model-signature .propName {
	font-weight: 700
}

.swagger-section .swagger-ui-wrap .model-signature .signature-container
	{
	clear: both
}

.swagger-section .swagger-ui-wrap .body-textarea {
	width: 300px;
	height: 100px;
	border: 1px solid #aaa
}

.swagger-section .swagger-ui-wrap .markdown li code, .swagger-section .swagger-ui-wrap .markdown p code
	{
	font-family: Anonymous Pro, Menlo, Consolas, Bitstream Vera Sans Mono,
		Courier New, monospace;
	background-color: #f0f0f0;
	color: #000;
	padding: 1px 3px
}

.swagger-section .swagger-ui-wrap .required {
	font-weight: 700
}

.swagger-section .swagger-ui-wrap .editor_holder {
	font-family: Anonymous Pro, Menlo, Consolas, Bitstream Vera Sans Mono,
		Courier New, monospace;
	font-size: .9em
}

.swagger-section .swagger-ui-wrap .editor_holder label {
	font-weight: 400 !important
}

.swagger-section .swagger-ui-wrap .editor_holder label.required {
	font-weight: 700 !important
}

.swagger-section .swagger-ui-wrap input.parameter {
	width: 300px;
	border: 1px solid #aaa
}

.swagger-section .swagger-ui-wrap h1 {
	color: #000;
	font-size: 1.5em;
	line-height: 1.3em;
	padding: 10px 0;
	font-family: Droid Sans, sans-serif;
	font-weight: 700
}

.swagger-section .swagger-ui-wrap .heading_with_menu {
	float: none;
	clear: both;
	overflow: hidden;
	display: block
}

.swagger-section .swagger-ui-wrap .heading_with_menu ul {
	display: block;
	clear: none;
	float: right;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 10px
}

.swagger-section .swagger-ui-wrap h2 {
	color: #000;
	font-size: 1.3em;
	padding: 10px 0
}

.swagger-section .swagger-ui-wrap h2 a {
	color: #000
}

.swagger-section .swagger-ui-wrap h2 span.sub {
	font-size: .7em;
	color: #999;
	font-style: italic
}

.swagger-section .swagger-ui-wrap h2 span.sub a {
	color: #777
}

.swagger-section .swagger-ui-wrap span.weak {
	color: #666
}

.swagger-section .swagger-ui-wrap .message-success {
	color: #5C2D91
}

.swagger-section .swagger-ui-wrap caption, .swagger-section .swagger-ui-wrap td,
	.swagger-section .swagger-ui-wrap th {
	text-align: left;
	font-weight: 400;
	vertical-align: middle
}

.swagger-section .swagger-ui-wrap .code {
	font-family: Anonymous Pro, Menlo, Consolas, Bitstream Vera Sans Mono,
		Courier New, monospace
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.text textarea
	{
	font-family: Droid Sans, sans-serif;
	height: 250px;
	padding: 4px;
	display: block;
	clear: both
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.select select
	{
	display: block;
	clear: both
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.boolean
	{
	float: none;
	clear: both;
	overflow: hidden;
	display: block
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.boolean label
	{
	display: block;
	float: left;
	clear: none;
	margin: 0;
	padding: 0
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.boolean input
	{
	display: block;
	float: left;
	clear: none;
	margin: 0 5px 0 0
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li.required label
	{
	color: #000
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li label
	{
	display: block;
	clear: both;
	width: auto;
	padding: 0 0 3px;
	color: #666
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li label abbr
	{
	padding-left: 3px;
	color: #888
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.inputs ol li p.inline-hints
	{
	margin-left: 0;
	font-style: italic;
	font-size: .9em;
	margin: 0
}

.swagger-section .swagger-ui-wrap form.formtastic fieldset.buttons {
	margin: 0;
	padding: 0
}

.swagger-section .swagger-ui-wrap span.blank, .swagger-section .swagger-ui-wrap span.empty
	{
	color: #888;
	font-style: italic
}

.swagger-section .swagger-ui-wrap .markdown h3 {
	color: #547f00
}

.swagger-section .swagger-ui-wrap .markdown h4 {
	color: #666
}

.swagger-section .swagger-ui-wrap .markdown pre {
	font-family: Anonymous Pro, Menlo, Consolas, Bitstream Vera Sans Mono,
		Courier New, monospace;
	background-color: #fcf6db;
	border: 1px solid #e5e0c6;
	padding: 10px;
	margin: 0 0 10px
}

.swagger-section .swagger-ui-wrap .markdown pre code {
	line-height: 1.6em;
	overflow: auto
}

.swagger-section .swagger-ui-wrap div.gist {
	margin: 20px 0 25px !important
}

.swagger-section .swagger-ui-wrap ul#resources {
	font-family: Droid Sans, sans-serif;
	font-size: .9em
}

.swagger-section .swagger-ui-wrap ul#resources li.resource {
	border-bottom: 1px solid #ddd
}

.swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading h2 a,
	.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading h2 a
	{
	color: #000
}

.swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading ul.options li a,
	.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading ul.options li a
	{
	color: #555
}

.swagger-section .swagger-ui-wrap ul#resources li.resource:last-child {
	border-bottom: none
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading {
	border: 1px solid transparent;
	float: none;
	clear: both;
	overflow: hidden;
	display: block
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options
	{
	overflow: hidden;
	padding: 0;
	display: block;
	clear: none;
	float: right;
	margin: 14px 10px 0 0
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li
	{
	float: left;
	clear: none;
	margin: 0;
	padding: 2px 10px;
	border-right: 1px solid #ddd;
	color: #666;
	font-size: .9em
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a
	{
	color: #aaa;
	text-decoration: none
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a:hover
	{
	text-decoration: underline;
	color: #000
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a.active,
	.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a:active,
	.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a:hover
	{
	text-decoration: underline
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li.first,
	.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li:first-child
	{
	padding-left: 0
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li.last,
	.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li:last-child
	{
	padding-right: 0;
	border-right: none
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options.first,
	.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options:first-child
	{
	padding-left: 0
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2
	{
	color: #999;
	padding-left: 0;
	display: block;
	clear: none;
	float: left;
	font-family: Droid Sans, sans-serif;
	font-weight: 700
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a
	{
	color: #999
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a:hover
	{
	color: #000
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation
	{
	float: none;
	clear: both;
	overflow: hidden;
	display: block;
	margin: 0 0 10px;
	padding: 0
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading
	{
	float: none;
	clear: both;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3
	{
	display: block;
	clear: none;
	float: left;
	width: auto;
	margin: 0;
	padding: 0;
	line-height: 1.1em;
	color: #000
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path
	{
	padding-left: 10px
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a
	{
	color: #000;
	text-decoration: none
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a.toggleOperation.deprecated
	{
	text-decoration: line-through
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a:hover
	{
	text-decoration: underline
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.http_method a
	{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	width: 50px;
	font-size: .7em;
	text-align: center;
	padding: 7px 0 4px;
	border-radius: 2px
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span
	{
	margin: 0;
	padding: 0
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options
	{
	overflow: hidden;
	padding: 0;
	display: block;
	clear: none;
	float: right;
	margin: 6px 10px 0 0
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li
	{
	float: left;
	clear: none;
	margin: 0;
	padding: 2px 10px;
	font-size: .9em
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li a
	{
	text-decoration: none
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li a .markdown p
	{
	color: inherit;
	padding: 0;
	line-height: inherit
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li.access
	{
	color: #000
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content
	{
	border-top: none;
	padding: 10px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin: 0 0 20px
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content h4
	{
	font-size: 1.1em;
	margin: 0;
	padding: 15px 0 5px
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header
	{
	float: none;
	clear: both;
	overflow: hidden;
	display: block
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header a
	{
	padding: 4px 0 0 10px;
	display: inline-block;
	font-size: .9em
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit
	{
	display: block;
	clear: none;
	float: left;
	padding: 6px 8px
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header span.response_throbber
	{
	background-image: url(../images/throbber.gif);
	width: 128px;
	height: 16px;
	display: block;
	clear: none;
	float: right
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content form input[type=text].error
	{
	outline: 2px solid #000;
	outline-color: #c00
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content form select[name=parameterContentType]
	{
	max-width: 300px
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.response div.block pre
	{
	font-family: Anonymous Pro, Menlo, Consolas, Bitstream Vera Sans Mono,
		Courier New, monospace;
	padding: 10px;
	font-size: .9em;
	max-height: 400px;
	overflow-y: auto
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading
	{
	background-color: #f9f2e9;
	border: 1px solid #f0e0ca
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading h3 span.http_method a
	{
	background-color: #c5862b
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li
	{
	border-right: 1px solid #ddd;
	border-right-color: #f0e0ca;
	color: #c5862b
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li a
	{
	color: #c5862b
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content
	{
	background-color: #faf5ee;
	border: 1px solid #f0e0ca
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content h4
	{
	color: #c5862b
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content div.sandbox_header a
	{
	color: #dcb67f
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading
	{
	background-color: #fcffcd;
	border: 1px solid #000;
	border-color: #ffd20f
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading h3 span.http_method a
	{
	text-transform: uppercase;
	background-color: #ffd20f
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li
	{
	border-right: 1px solid #ddd;
	border-right-color: #ffd20f;
	color: #ffd20f
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li a
	{
	color: #ffd20f
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content
	{
	background-color: #fcffcd;
	border: 1px solid #000;
	border-color: #ffd20f
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content h4
	{
	color: #ffd20f
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content div.sandbox_header a
	{
	color: #6fc992
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading
	{
	background-color: #f5e8e8;
	border: 1px solid #e8c6c7
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading h3 span.http_method a
	{
	text-transform: uppercase;
	background-color: #a41e22
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li
	{
	border-right: 1px solid #ddd;
	border-right-color: #e8c6c7;
	color: #a41e22
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li a
	{
	color: #a41e22
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content
	{
	background-color: #f7eded;
	border: 1px solid #e8c6c7
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content h4
	{
	color: #a41e22
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content div.sandbox_header a
	{
	color: #c8787a
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading
	{
	background-color: #e7f6ec;
	border: 1px solid #c3e8d1
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.http_method a
	{
	background-color: #10a54a
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li
	{
	border-right: 1px solid #ddd;
	border-right-color: #c3e8d1;
	color: #10a54a
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li a
	{
	color: #10a54a
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content
	{
	background-color: #ebf7f0;
	border: 1px solid #c3e8d1
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content h4
	{
	color: #10a54a
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content div.sandbox_header a
	{
	color: #6fc992
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading
	{
	background-color: #fce9e3;
	border: 1px solid #f5d5c3
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading h3 span.http_method a
	{
	background-color: #d38042
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li
	{
	border-right: 1px solid #ddd;
	border-right-color: #f0cecb;
	color: #d38042
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li a
	{
	color: #d38042
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content
	{
	background-color: #faf0ef;
	border: 1px solid #f0cecb
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content h4
	{
	color: #d38042
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content div.sandbox_header a
	{
	color: #dcb67f
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading
	{
	background-color: #e7f0f7;
	border: 1px solid #c3d9ec
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.http_method a
	{
	background-color: #0f6ab4
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li
	{
	border-right: 1px solid #ddd;
	border-right-color: #c3d9ec;
	color: #0f6ab4
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li a
	{
	color: #0f6ab4
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content
	{
	background-color: #ebf3f9;
	border: 1px solid #c3d9ec
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content h4
	{
	color: #0f6ab4
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content div.sandbox_header a
	{
	color: #6fa5d2
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading
	{
	background-color: #e7f0f7;
	border: 1px solid #c3d9ec
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading h3 span.http_method a
	{
	background-color: #0f6ab4
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li
	{
	border-right: 1px solid #ddd;
	border-right-color: #c3d9ec;
	color: #0f6ab4
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.heading ul.options li a
	{
	color: #0f6ab4
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content
	{
	background-color: #ebf3f9;
	border: 1px solid #c3d9ec
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content h4
	{
	color: #0f6ab4
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.options div.content div.sandbox_header a
	{
	color: #6fa5d2
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.content,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.content,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.content,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.content
	{
	border-top: none
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li.last,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.delete div.heading ul.options li:last-child,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li.last,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li:last-child,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li.last,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.head div.heading ul.options li:last-child,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li.last,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.patch div.heading ul.options li:last-child,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li.last,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading ul.options li:last-child,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li.last,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.put div.heading ul.options li:last-child
	{
	padding-right: 0;
	border-right: none
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations ul.options li a.active,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations ul.options li a:active,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations ul.options li a:hover
	{
	text-decoration: underline
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations.first,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations:first-child,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations ul.options li.first,
	.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations ul.options li:first-child
	{
	padding-left: 0
}

.swagger-section .swagger-ui-wrap p#colophon {
	margin: 0 15px 40px;
	padding: 10px 0;
	font-size: .8em;
	border-top: 1px solid #ddd;
	font-family: Droid Sans, sans-serif;
	color: #999;
	font-style: italic
}

.swagger-section .swagger-ui-wrap p#colophon a {
	text-decoration: none;
	color: #547f00
}

.swagger-section .swagger-ui-wrap h3 {
	color: #000;
	font-size: 1.1em;
	padding: 10px 0
}

.swagger-section .swagger-ui-wrap .markdown ol, .swagger-section .swagger-ui-wrap .markdown ul
	{
	font-family: Droid Sans, sans-serif;
	margin: 5px 0 10px;
	padding: 0 0 0 18px;
	list-style-type: disc
}

.swagger-section .swagger-ui-wrap form.form_box {
	background-color: #ebf3f9;
	border: 1px solid #c3d9ec;
	padding: 10px
}

.swagger-section .swagger-ui-wrap form.form_box label {
	color: #0f6ab4 !important
}

.swagger-section .swagger-ui-wrap form.form_box input[type=submit] {
	display: block;
	padding: 10px
}

.swagger-section .swagger-ui-wrap form.form_box p.weak {
	font-size: .8em
}

.swagger-section .swagger-ui-wrap form.form_box p {
	font-size: .9em;
	padding: 0 0 15px;
	color: #7e7b6d
}

.swagger-section .swagger-ui-wrap form.form_box p a {
	color: #646257
}

.swagger-section .swagger-ui-wrap form.form_box p strong {
	color: #000
}

.swagger-section .swagger-ui-wrap .operation-status td.markdown>p:last-child
	{
	padding-bottom: 0
}

.swagger-section .title {
	font-style: bold
}

.swagger-section .secondary_form {
	display: none
}

.swagger-section .main_image {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.swagger-section .oauth_body {
	margin-left: 100px;
	margin-right: 100px
}

.swagger-section .oauth_submit {
	text-align: center;
	display: inline-block
}

.swagger-section .authorize-wrapper {
	margin: 15px 0 10px
}

.swagger-section .authorize-wrapper_operation {
	float: right
}

.swagger-section .authorize__btn:hover {
	text-decoration: underline;
	cursor: pointer
}

.swagger-section .authorize__btn_operation:hover .authorize-scopes {
	display: block
}

.swagger-section .authorize-scopes {
	position: absolute;
	margin-top: 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: none;
	font-size: 13px;
	max-width: 300px;
	line-height: 30px;
	color: #000;
	padding: 5px
}

.swagger-section .authorize-scopes .authorize__scope {
	text-decoration: none
}

.swagger-section .authorize__btn_operation {
	height: 18px;
	vertical-align: middle;
	display: inline-block;
	background: url(../images/explorer_icons.png) no-repeat
}

.swagger-section .authorize__btn_operation_login {
	background-position: 0 0;
	width: 18px;
	margin-top: -6px;
	margin-left: 4px
}

.swagger-section .authorize__btn_operation_logout {
	background-position: -30px 0;
	width: 18px;
	margin-top: -6px;
	margin-left: 4px
}

.swagger-section #auth_container {
	color: #fff;
	display: inline-block;
	border: none;
	padding: 5px;
	width: 87px;
	height: 13px
}

.swagger-section #auth_container .authorize__btn {
	color: #fff
}

.swagger-section .auth_container {
	padding: 0 0 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
	font-size: .9em
}

.swagger-section .auth_container .auth__title {
	color: #547f00;
	font-size: 1.2em
}

.swagger-section .auth_container .basic_auth__label {
	display: inline-block;
	width: 60px
}

.swagger-section .auth_container .auth__description {
	color: #999;
	margin-bottom: 5px
}

.swagger-section .auth_container .auth__button {
	margin-top: 10px;
	height: 30px
}

.swagger-section .auth_container .key_auth__field {
	margin: 5px 0
}

.swagger-section .auth_container .key_auth__label {
	display: inline-block;
	width: 60px
}

.swagger-section .api-popup-dialog {
	position: absolute;
	display: none
}

.swagger-section .api-popup-dialog-wrapper {
	z-index: 2;
	width: 500px;
	background: #fff;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 13px;
	color: #777;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.swagger-section .api-popup-dialog-shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .2;
	background-color: gray;
	z-index: 1
}

.swagger-section .api-popup-dialog .api-popup-title {
	font-size: 24px;
	padding: 10px 0
}

.swagger-section .api-popup-dialog .error-msg {
	padding-left: 5px;
	padding-bottom: 5px
}

.swagger-section .api-popup-dialog .api-popup-content {
	max-height: 500px;
	overflow-y: auto
}

.swagger-section .api-popup-dialog .api-popup-authbtn, .swagger-section .api-popup-dialog .api-popup-cancel
	{
	height: 30px
}

.swagger-section .api-popup-scopes {
	padding: 10px 20px
}

.swagger-section .api-popup-scopes li {
	padding: 5px 0;
	line-height: 20px
}

.swagger-section .api-popup-scopes li input {
	position: relative;
	top: 2px
}

.swagger-section .api-popup-scopes .api-scope-desc {
	padding-left: 20px;
	font-style: italic
}

.swagger-section .api-popup-actions {
	padding-top: 10px
}

.swagger-section .access, .swagger-section .auth {
	float: right
}

.swagger-section .api-ic {
	height: 18px;
	vertical-align: middle;
	display: inline-block;
	background: url(../images/explorer_icons.png) no-repeat
}

.swagger-section .api-ic .api_information_panel {
	position: relative;
	margin-top: 20px;
	margin-left: -5px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: none;
	font-size: 13px;
	max-width: 300px;
	line-height: 30px;
	color: #000;
	padding: 5px
}

.swagger-section .api-ic .api_information_panel p .api-msg-enabled {
	color: green
}

.swagger-section .api-ic .api_information_panel p .api-msg-disabled {
	color: red
}

.swagger-section .api-ic:hover .api_information_panel {
	position: absolute;
	display: block
}

.swagger-section .ic-info {
	background-position: 0 0;
	width: 18px;
	margin-top: -6px;
	margin-left: 4px
}

.swagger-section .ic-warning {
	background-position: -60px 0;
	width: 18px;
	margin-top: -6px;
	margin-left: 4px
}

.swagger-section .ic-error {
	background-position: -30px 0;
	width: 18px;
	margin-top: -6px;
	margin-left: 4px
}

.swagger-section .ic-off {
	background-position: -90px 0;
	width: 58px;
	margin-top: -4px;
	cursor: pointer
}

.swagger-section .ic-on {
	background-position: -160px 0;
	width: 58px;
	margin-top: -4px;
	cursor: pointer
}

.swagger-section #header {
	background-color: gray;
	padding: 9px 14px 19px;
	height: 50px;
	min-width: 775px
}

.swagger-section #input_baseUrl {
	width: 400px
}

.swagger-section #api_selector {
	display: block;
	clear: none;
	float: right
}

.swagger-section #api_selector .input {
	display: inline-block;
	clear: none;
	margin: 0 10px 0 0
}

.swagger-section #api_selector input {
	font-size: .9em;
	padding: 3px;
	margin: 0
}

.swagger-section #input_apiKey {
	width: 200px
}

.swagger-section #auth_container .authorize__btn, .swagger-section #explore
	{
	display: block;
	text-decoration: none;
	font-weight: 700;
	padding: 6px 8px;
	font-size: .9em;
	color: #fff;
	background-color: #547f00;
	border-radius: 4px
}

.swagger-section #auth_container .authorize__btn:hover, .swagger-section #explore:hover
	{
	background-color: #547f00
}

.swagger-section #header #logo {
	font-size: 1.5em;
	font-weight: 700;
	text-decoration: none;
	color: #fff
}

.swagger-section #header #logo .logo__img {
	display: block;
	float: left;
	margin-top: 2px
}

.swagger-section #header #logo .logo__title {
	display: inline-block;
	padding: 5px 0 0 10px
}

.swagger-section #content_message {
	margin: 10px 15px;
	font-style: italic;
	color: #999
}

.swagger-section #message-bar {
	min-height: 30px;
	text-align: center;
	padding-top: 10px
}

.swagger-section .swagger-collapse:before {
	content: "-"
}

.swagger-section .swagger-expand:before {
	content: "+"
}

.swagger-section .error {
	outline-color: #c00;
	background-color: #f2dede
}

#validator {
	display : none;
}