:root { -
	-bg-color-primary: #45216f; -
	-bg-color-secondary: #00bcee; -
	-bg-color-tertiary: #f1f3f8; -
	-font-color-primary: white
}

html {
	width:100%;
}

html, body {
	padding: 0;
}


body, p, li, a {
	font-family: arial, serif;
	font-size: 13pt
}

#mainBody.container-fluid {
	padding: 0;
	margin: 0
}

h2, h3 {
	margin-top: 0 !important
}

h3 {
	color: var(- -bg-color-primary) !important
}

hr {
	margin-top: 5px !important;
	margin-bottom: 5px !important
}

a {
	color: var(- -bg-color-primary) !important
}

.btn-primary {
	background-color: var(- -bg-color-secondary) !important;
	color: white !important
}

.btn-default {
	background-color: var(- -bg-color-secondary) !important;
	color: white !important
}

#header, #footer {
	background-color: var(- -bg-color-primary);
	margin: 0;
	padding: 0;
	overflow: auto
}

#header {
	padding: 20px;
	border-radius: 0
}

#siteDescription {
	float: right;
	text-align: right;
	color: var(- -font-color-primary)
}

#footerContent, #headerContent {
	color: #fff;
	display: block
}

#contentHeader {
	padding: 10px
}

#bodyTitle {
	color: var(- -bg-color-primary);
	font-weight: bold;
	font-size: 25px;
	padding-top: 5px
}

#footerContent {
	font-size: 10px;
	padding: 10px
}

#bodyContent {
	min-height: 80%;
	overflow: auto
}

#pageTitle {
	padding-left: 30px
}

body {
	color: var(- -bg-color-primary);
	width: 700px;
	margin: auto;
}

.table-vcenter td {
	vertical-align: middle !important
}

.object-panel {
	padding: 20px
}

.row {
	padding: 5px;
	margin: 0
}

.homePageGroups {
	display: block
}

.homePageGroupComponent {
	background-color: var(- -bg-color-primary);
	width: 380px;
	color: #fff;
	padding: 10px;
	float: left;
	margin: 10px
}

.homePageGroupComponent a {
	color: #fff !important;
	font-size: 12pt
}

.homePageGroupHeader {
	background-color: #fff;
	color: #0d5d71;
	width: 100%;
	font-size: 29px;
	padding: 10px;
	text-align: center
}

.homePageGroupContent {
	background-color: #fff;
	color: #0d5d71;
	font-size: 16px;
	margin-top: 5px;
	padding: 15px;
	min-height: 210px
}

.panel-default>.panel-heading, .panel-footer, .navbar-default {
	background-color: var(- -bg-color-tertiary) !important
}

.form-default>.panel-heading {
	background-color: var(- -bg-color-tertiary) !important;
	overflow: auto
}

.searchPanel, .searchResult, #headerContent, #contentHeader {
	max-width: 800px !important;
	margin: 0 auto !important
}

.large-button-text {
	padding-left: 5px
}

.panel-heading h3 {
	margin: 0;
	overflow: auto
}

.buttonPanel {
	padding-bottom: 20px;
	padding-right: 25px
}

.feedbackPanelERROR {
	color: darkred !important
}

.textToIconSpan {
	padding-left: 10px;
	padding-right: 10px
}

#logo {
	background-color: lightgray
}

#logoWrapper a:hover {
	text-decoration: none
}

.mapPanelTable {
	border: 1px solid black;
	padding: 2px;
	width: 100%
}

.mapPanelTableHeaderRow {
	padding: 10px;
	background-color: var(- -bg-color-primary) !important;
	color: var(- -font-color-primary);
	font-weight: bold
}

.mapPanelTableHeaderKey, .mapPanelTableHeaderValue,
	.mapPanelTableHeaderAction {
	padding: 5px !important;
	text-align: center !important;
	border: 1px solid black !important
}

.mapPanelTableHeaderKey {
	width: 180px
}

.mapPanelTableHeaderAction {
	width: 20px
}

.mapPanelTableKey, .mapPanelTableValue, .mapPanelTableAction {
	padding: 5px !important;
	border: 1px solid black !important
}

.mapPanelTableKey p, .mapPanelTableValue p, .mapPanelTableAction p {
	font-size: 12px !important
}

.mapPanelTableKey p {
	padding-left: 15px !important;
	padding-top: 10px !important
}

.panel-heading-title {
	padding: 15px 5px 5px 20px
}

.sub-panel {
	border: 5px solid var(- -bg-color-primary) !important;
	margin-left: 0;
	border-radius: 10px;
	margin: 0 15px 0 15px
}

.panel-warn, .panel-regular {
	border-radius: 10px
}

.panel-heading-warn {
	background-color: #f1c667;
	padding: 10px;
	border-radius: 10px;
	overflow: auto
}

.panel-heading-regular {
	background-color: lightgray;
	padding: 10px;
	border-radius: 10px;
	overflow: auto
}

.confirmMobileNumber {
	padding: 0 10px 0 10px
}

.ellipses {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.dont-break-out {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto
}

.bearerToken {
	font-size: 12px;
	padding: 20px
}

.navbar {
	margin: 0 !important;
	border: 0 !important
}

.navbar-nav {
	margin: 5px;
	background-color: var(- -bg-color-primary) !important
}

.navbar-default .navbar-nav>li>a {
	color: white !important
}

.nav>li:hover {
	background-color: var(- -bg-color-secondary) !important
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	background-color: var(- -bg-color-secondary) !important
}

.btn-info {
	background-color: var(- -bg-color-primary) !important;
	color: white !important
}

.table {
	margin-bottom: 0 !important
}

.pagination-lg>li>a[disabled="disabled"] {
	background-color: var(- -bg-color-secondary) !important;
	color: var(- -font-color-primary) !important
}

.container-fluid {
	padding-right: 15px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s
}

input:checked+.slider {
	background-color: var(- -bg-color-primary) !important
}

input:focus+.slider {
	box-shadow: 0 0 1px var(- -bg-color-primary)
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px)
}

.slider.round {
	border-radius: 34px
}

.slider.round:before {
	border-radius: 50%
}